[submodule "ext/mummer"]
	path = ext/mummer
	url = https://github.com/nrizzo/mummer.git
[submodule "ext/ChainX"]
	path = ext/ChainX
	url = https://github.com/algbio/ChainX.git
	ignore = dirty
[submodule "ext/CLI11"]
	path = ext/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "ext/htslib"]
	path = ext/htslib
	url = https://github.com/samtools/htslib.git
[submodule "ext/concurrentqueue"]
	path = ext/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
